{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tune_tale</title>
    <link rel="icon" href="{% static 'pictures/logo.png' %}" />

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm" crossorigin="anonymous">
    </script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.0/font/bootstrap-icons.css">

    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Anurati&display=swap">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Pacifico&display=swap">
    <link href="https://fonts.googleapis.com/css2?family=Orbitron&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Pixelify+Sans&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Yatra+One&display=swap" rel="stylesheet">
    <style>
        .swiper {
            width: 100%;
            height: 100%;
        }

        .swiper-slide {
            text-align: center;
            display: flex;
            justify-content: center;
            align-items: center;
        }

        @media (max-width: 760px) {
            .swiper-button-next {
                right: 20px;
                transform: rotate(90deg);
            }

            .swiper-button-prev {
                left: 20px;
                transform: rotate(90deg);
            }
        }

        .swiper-pagination {
            position: relative;
            top: 40%;
        }
    </style>
</head>

<body class="light-mode">
    <!--------------------------------------- navbar -->
    <nav class="navbar navbar-expand-lg " style="text-shadow: none;">
        <div class="container-fluid px-5">
            <a class="navbar-brand px-5 fw-bold fs-4 " href="{% url 'home' %}" style="font-family: 'anurati';"> <img
                    src="{% static 'pictures/logo.png' %}" height="30" alt="" class="pe-3">TUNE TALES</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav ms-auto mb-2 mb-lg-0 px-3 ">
                    <li class="nav-item px-2 fs-4" style="font-family: 'Yatra One', system-ui;">
                        <a class="nav-link active" aria-current="page" href="{% url 'home' %}">HOME</a>
                    </li>
                    <li class="nav-item px-2 fs-4" style="font-family: 'Yatra One', system-ui;">
                        <a class="nav-link" href="{% url 'about' %}">ABOUT US</a>
                    </li>
                </ul>

                <button class="btn btn-outline-dark" id="mode-toggle"><i class="bi bi-sun mode-toggle"></i></button>
            </div>
        </div>
    </nav>
    <!-------------------------------------------header  -->

    <div class="container-fluid py-1" id="tune_form">
        <div class="container">
            <div class="row">
                <div class="col-xl-12 col-sm-12 mx-auto ">
                    <div class="card-header text-center fw-bold fs-2  mt-2"
                        style="font-family:'Pacifico', cursive;text-shadow: 2.3px 2.3px rgba(186, 185, 185, 0.881);color: #394F8A;">
                        Vibes!!!
                    </div>
                    <div class="card-body mx-auto px-5" style="width: 100%;">
                        <!-- Display the user input text -->
                        <!-- Display the user input text for music recommendation -->
                        {% if result.mood %}
                        <div class="card-header text-center fw-bold fs-2"
                            style="font-family:'Pacifico', cursive;text-shadow: 2.3px 2.3px rgba(186, 185, 185, 0.881);color: #281616;">
                            Recognized Emotion: {{ result.mood }}
                        </div>
                        <div class="card-header text-center fw-bold fs-2 text-success"
                            style="font-family:'Pacifico', cursive;text-shadow: 2.3px 2.3px rgba(186, 185, 185, 0.881);">
                            Suggested Musical Selections
                        </div>
    <!---------------------------------------content -->
                        <!-- Display recommended music -->
                        <!-- Swiper -->
                        <div class="swiper mt-3">
                            <div class="swiper-wrapper">
                                {% for video_url in result.video_urls %}
                                <div class="swiper-slide">
                                    <div class="row">
                                        <div class="col-md-3">
                                            <div class="">
                                                <div class="d-flex align-items-center ">
                                                    <i class="bi bi-music-note me-2 text-success"></i>
                                                    <a href="{{ video_url }}" target="_blank"
                                                        class="text-decoration-none text-dark link-with-hover-effect border border-2 border-circle border-danger p-2"
                                                        style="border-radius: 50% !important; border: 2px solid transparent; border-image: linear-gradient(130deg, #ff7a18, #af002d 41.07%, #319197 76.05%); border-image-slice: 1; display: inline-block;">
                                                        <!-- {{ video_url }} -->
                                                        <img src="{% static 'pictures/m-' %}{{ forloop.counter }}.jpg"
                                                            alt="Image {{ forloop.counter }}"
                                                            style="height: 250px; width: 250px;" class="rounded-circle">
                                                    </a>


                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                {% endfor %}
                            </div>
                            <div class="swiper-button-next d-none"></div>
                            <div class="swiper-button-prev d-none"></div>
                            {% for video_url in result.video_urls %}
                            <div class="swiper-pagination  text-center "></div>
                            {% endfor %}
                        </div>

                        {% else %}
                        <h2>No mood detected.</h2>
                        {% endif %}
                        <!-- Display recommended books -->
                        <div class="mt-5">
                            <div class="card-header text-center fw-bold fs-2  my-3 text-primary"
                                style="font-family:'Pacifico', cursive;text-shadow: 2.3px 2.3px rgba(186, 185, 185, 0.881);">
                                Recommended Books
                            </div>
                            <div class="swiper">
                                <div class="swiper-wrapper">
                                    {% for book in result.books %}
                                    <div class="swiper-slide">
                                        <div class="row">
                                            <div class="col-md-4 mb-3">
                                                <div style="width: 250px;height: 300px;"
                                                    class="d-flex flex-column justify-content-center align-items-center">
                                                    <a href="{{ book.volumeInfo.previewLink }}"
                                                        style="text-decoration:none;" target="_blank">
                                                        <div class="card "
                                                            style="display:flex; flex-direction:column; justify-content:center; align-items:center ;width: 250px;">
                                                            <div class="card-body">
                                                                <!-- Add a class to the image for styling -->
                                                                <img src="{{ book.volumeInfo.imageLinks.thumbnail }}"
                                                                    class=" img-fluid" alt="..." style="height: 160px;">
                                                            </div>
                                                            <div class="card-footer"
                                                                style="height: 120px;text-shadow: none;">
                                                                <p class="card-title fs-5 ">{{ book.volumeInfo.title }}
                                                                </p>
                                                                <p class="card-text">
                                                                    {{ book.volumeInfo.authors|join:", " }}</p>
                                                            </div>
                                                        </div>
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    {% endfor %}
                                </div>
                                <div class="swiper-button-next d-none"></div>
                                <div class="swiper-button-prev d-none"></div>
                                {% for book in result.books %}
                                <div class="swiper-pagination  text-center "></div>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    


    <!-------------------------------------------------------- footer -->
    <div class="container-fluid" style="background-color: #b2f9f88c;font-family: Handlee, cursive;text-shadow: none">
        <div class="container mx-auto">
            <div class="row mx-auto">
                <p class="text-center  fs-2 fw-bold mt-5 mb-5 " style="font-family: 'Orbitron', sans-serif;">A
                    Harmonious Fusion
                    of Literary and
                    Musical Delights</p>

                <div class="col-xl-4 col-sm-6 mx-auto">
                    <p class="text-center fw-bold fs-5">Quick links</p>
                    <div class="text-center">
                        <a href="{% url 'home' %}"
                            class="list-group-item text-decoration-none py-1 fw-bold fs-6">Home</a>
                        <a href="{% url 'about' %}" class="list-group-item text-decoration-none py-1 fw-bold fs-6">About
                            us</a>
                        <a href="" class="list-group-item text-decoration-none py-1 fw-bold fs-6">FAQ</a>
                    </div>

                </div>
                <div class="col-xl-4 col-sm-8 text-center  py-3 mx-auto">
                    <img src="{% static 'pictures/logo.png' %}" alt="logo" height="100" class="rounded">
                    <p class="fs-6 fw-bold">Tune Tales</p>
                </div>
            </div>
            <hr>
            <div class="row  mx-auto border-top-1">
                <div class="col text-center ">
                    <img src="{% static 'pictures/logo.png' %}" alt="logo" height="30" class="rounded"><span
                        class="text mute">© 2023. All rights are
                        reserved.</span>
                </div>
            </div>
            <hr>
        </div>
    </div>


    <script>
        const body = document.body;
        const toggleButton = document.getElementById('mode-toggle');
        let isDarkMode = false;

        // Function to toggle between light and dark mode
        function toggleMode() {
            if (isDarkMode) {
                body.classList.remove('dark-mode');
                toggleButton.innerHTML = '<i class="bi bi-moon-fill"></i>';
                body.classList.remove("dark-mode");
            } else {
                body.classList.add('dark-mode');
                toggleButton.innerHTML = '<i class="bi bi-sun-fill"></i>';
                body.classList.add("dark-mode");
            }
            isDarkMode = !isDarkMode;
            var elements = document.querySelectorAll('.list-group-item');

            elements.forEach(function (element) {
                element.classList.toggle('light-text');
            });
        }

        // Add a click event listener to the toggle button
        toggleButton.addEventListener('click', toggleMode);
    </script>
    <!-- Swiper JS -->
    <script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>

    <!-- Initialize Swiper -->
    <script>
        var swiper = new Swiper('.swiper', {
            slidesPerView: 1,
            spaceBetween: 10,
            direction: getDirection(),
            navigation: {
                nextEl: '.swiper-button-next',
                prevEl: '.swiper-button-prev',
            },
            autoplay: {
                delay: 5000,
            },
            pagination: {
                el: ".swiper-pagination",
                clickable: true,
                // type: 'fraction',

            },
            breakpoints: {
                640: {
                    slidesPerView: 2,
                    spaceBetween: 20,
                },
                768: {
                    slidesPerView: 3,
                    spaceBetween: 30,
                },
                1024: {
                    slidesPerView: 4,
                    spaceBetween: 40,
                },
            },
            on: {
                resize: function () {
                    swiper.changeDirection(getDirection());
                },
            },
        });

        function getDirection() {
            var windowWidth = window.innerWidth;
            var direction = window.innerWidth <= 760 ? 'vertical' : 'horizontal';

            return direction;
        }
    </script>
</body>

</html>